<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/cards.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <!-- Check if image exists -->
                    {% if item.image %}
                        <img class="card-img" src="{{ item.image.url }}" alt="Item Image" style="height: 100%; width: 100%; object-fit: cover;">
                    {% else %}
                        <img class="card-img-top" src="{% static 'media/default-image.jpg' %}" alt="Default image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ user.username }}</h6>
                        <div style="height: 60px; overflow: auto;">
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button>
                        <div class="d-flex flex-row mt-2">
                            <label class="font-weight-bold mr-2">Oferta:</label>
                            <label class="font-size-lg">${{ bid.amount }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
