<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/cards.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <!-- Check if image exists -->
                    {% if item.image %}
                        <img class="card-img" src="{{ item.image.url }}" alt="Item Image" style="height: 100%; width: 100%; object-fit: cover;">
                    {% else %}
                        <img class="card-img-top" src="{% static 'media/default-image.jpg' %}" alt="Default image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ user.username }}</h6>
                        <div style="height: 60px; overflow: auto;">
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">View Details</button>
                        <div class="d-flex flex-row mt-2">
                            <label class="font-weight-bold mr-2">Ofertass:</label>
                            <label class="font-size-lg">${{ bid.amount }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- The Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ item.title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <img class="img-fluid" src="{{ item.img_url }}" alt="Item Image">
                    <p>{{ item.description }}</p>
                    <div class="media">
                        <img class="mr-3 rounded-circle" src="{% static 'auctions/media/alejo_cat.jpeg' %}" alt="Profile image" height="64">
                        <div class="media-body">
                            <h5 class="mt-0">{{ user.username }}</h5>
                            <!-- Additional content, e.g., comments -->
                            <div class="form-group">
                                <label for="newComment">New comment</label>
                                <textarea class="form-control" id="newComment" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!-- Additional footer actions if needed -->
                </div>
            </div>
        </div>
    </div>

</body>
</html>
