{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}                
    {% if items %}
    <div class="container">
        <div class="row">
            {% for item in items_bids %}
                {% if item.0.status %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <a href="{% url 'auctions:listing_details' item.0.id %}" class="text-decoration-none">
                            <div class="card h-100">
                                <img class="card-img-top" src="{% if item.0.image %}{{ item.0.image.url }}{% else %}{% static 'default-image.jpg' %}{% endif %}" alt="Card image cap">
                                <div class="card-body p-2">
                                    <div >
                                        <div style="margin-right: 20px;">
                                            <label class="font-weight-bold" style="color: black;">Lote:</label>
                                            <span class="font-weight-bold" title="{{ item.0.title }}" style="color: black;">
                                                {{ item.0.title }}
                                            </span>
                                        </div>
                                    
                                        <div>
                                            <label class="font-weight-bold" style="color: black;">Nombre:</label>
                                            <span class="card-text text-truncate" title="{{ item.0.description }}" style="color: black;">
                                                {{ item.0.description }}
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <div class="d-flex ">
                                        
                                        <label class="font-weight-bold" style="color: black;">Oferta: </label>
                                        {% if item.1 and item.1 != item.0.starting_bid %}
                                            <span class="font-weight-bold" style="color: rgb(228, 30, 30);">${{ item.1 }}</span>
                                        {% else %}
                                            <span class="font-weight-bold" style="color: black;">${{ item.0.starting_bid }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    
    
{% else %}
    <div class="container text-center mt-4">
        <h4>No hay lotes</h4>
    </div>
{% endif %}
                      
    <script type="text/javascript">
    var data = {{json|safe}}
    var users = {{json_users|safe}}
    function showAlert(title){
                console.log("hi");
                console.log(title)
                var match_item = data.filter(item => item["fields"].title==title)
                
        
                var modal = document.getElementById("myModal");
                closeModalBtn = document.getElementById("closeModalBtn");
                closeModalBtn.onclick = closeModal;
                modal.style.display = "block";

                box_tag = document.getElementById("img_item_modal");
                username_tag = document.getElementById("username_label");
                modal_title = document.getElementById("modal_title");
                modal_bid = document.getElementById("modal_bid");

                item_user = Object.fromEntries(Object.entries(users).filter(([k,v]) => v===match_item[0]['fields'].user));
                username_tag.innerHTML = Object.keys(item_user)[0];
                modal_title.innerHTML = match_item[0]['fields'].title;
                modal_bid.innerHTML = match_item[0]['fields'].starting_bid;

                img_item_modal.setAttribute("src", match_item[0]['fields'].img_url);

               
                // closeModalBtn = document.getElementById("closeModalBtn");
                // closeModalBtn.onclick = closeModal;
            };
    // function addComment() {
    //     //Add a new comment logic
    //     var txtAreaComment = document.getElementById("commentText");
    //     console.log(txtAreaComment.value);
    //     }
        function closeModal(event){
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
            };
        window.onload = function(){
            // function showAlert(title){
            //     console.log("hi");
            //     console.log(title)
            //     // modal.style.display = "block";
            //     // closeModalBtn = document.getElementById("closeModalBtn");
            //     // closeModalBtn.onclick = closeModal;
            // };
            // var place_bid_btn = document.getElementsByClassName("btn btn-primary");
            // for (var i=0; i<place_bid_btn.length; i++){
            //     place_bid_btn[i].onclick = showAlert;
            // };
            //place_bid_btn.onclick = showAlert;
            // var modal = document.getElementById("myModal");
            // var closeModalBtn;
        
            // function showAlert(event){
            //     console.log("hi");
            //     modal.style.display = "block";
            //     // closeModalBtn = document.getElementById("closeModalBtn");
            //     // closeModalBtn.onclick = closeModal;
        
            // };
        
            function closeModal(event){
              modal.style.display = "none";
            };
        
        };
        </script>


{% endblock %}