{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auctions{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    <link href="{% static 'auctions/cards.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
</head>
<body class="bg-light text-dark">
    <div class="wrapper">
        <!-- Header Section -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom mb-2">
            <a class="navbar-brand d-flex align-items-center" href="{% url 'auctions:index' %}">
                <!-- Logo Image -->
                <img src="{% static 'images/Logo-UGRCH.png' %}" alt="Logo" style="height: 50px;">
                <!-- Page Name -->
                <span class="font-weight-bold">Subasta UGRCH</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Navigation Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="{% url 'auctions:index' %}">Lotes</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <!-- Link visible only to staff members -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{% url 'auctions:add' %}">Agregar Lote</a>
                            </li>
                            <!-- Link visible only to authenticated users but not staff -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{% url 'auctions:auctions_history' %}">Subastas</a>
                            </li>
                        {% else %}
                            <!-- Link visible only to authenticated users but not staff -->
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="{% url 'auctions:auctions_history' %}">Mis subastas</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
        
                <!-- Login/Register Section -->
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'auctions:logout' %}" class="btn btn-dark">Cerrar sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{% url 'auctions:login' %}" class="btn btn-dark">iniciar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        {% if is_index %}
        <!-- Header Image -->
        <div class="header-image">
            <img src="{% static 'images/Header.png' %}" alt="Header Image" class="w-100">
        </div>
        {% endif %}

        <!-- Main Content -->
        <div class="container content py-4">
            {% block body %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer class="bg-white border-top mt-4 py-3">
            <div class="container text-center">
                <span class="text-muted">© Subasta UGRCH.</span>
            </div>
        </footer>
    </div>
</body>
</html>
