{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Regístrate</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'auctions:register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="Nombre de usuario" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" name="phone_number" placeholder="Numero telefonico" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Contraseña" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirmacion de contraseña" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Regístrate">
    </form>

    Ya tienes una cuenta? <a href="{% url 'auctions:login' %}">Iniciar sesión.</a>

{% endblock %}